/* Header nav bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 48, 135, 0.9);
}

#nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 20px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(0, 48, 135, 0.9);
}

.dropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#portfolio:hover .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_item {
  color: white;
  text-decoration: none;
}

.menu_item:hover {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
}

/* Body */
.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Education, Experience */
.item {
  margin-bottom: 15px;
}

.item h3 {
  font-size: 1.2em;
}

.item p {
  font-size: 0.9em;
}

.item .date {
  font-style: italic;
  font-size: 0.85em;
}

/* Footer */
footer {
  margin-top: 10px;
  color: white;
  background-color: rgb(0, 48, 135);
  padding: 20px;
  width: 100%;
}

footer p {
  color: white;
  font-weight: bold;
}
footer a {
  color: white;
}

#credits {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: -10px;
}

body.dark {
  background-color: #333;
  color: #f9f9f9;
}

/* Animation */
#theme-toggle {
  padding: 10px;
  width: 125px;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;

  background-color: rgb(0, 48, 135);
  transition: background-color 1s;
}

#theme-toggle:hover {
  cursor: pointer;
  background-color: rgb(110, 1, 252);
}
